@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
  font-weight: bold;
}

::-moz-selection {
  /* Code for Firefox */
  color: dark-gray;
  background: rgba(34, 178, 34, 0.6);
}

::selection {
  color: dark-gray;
  background: rgba(34, 178, 34, 0.6);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 20px;
  margin: 0;
  margin-bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  background-color: rgba(5, 5, 10, 0.85);
  display: flex;
  flex-direction: column;
  gap: 2em;
}
/* h1=2em, h2=1.5em, h3=1.17em, h4=1em */
body.no-scroll {
  overflow: hidden;
}

a {
  color: whitesmoke;
}

a:hover {
  color: rgb(70, 210, 110);
}

button {
  color: whitesmoke;
  border: none;
  background-color: rgba(5, 8, 10, 0.3);
  padding: 1em 1em;
}

button:hover {
  background-color: rgba(5, 8, 10, 0.5);
  color: rgb(70, 210, 110);
}

.hidden {
  display: none;
}

.header-container {
  position: relative;
  text-align: center;
}

.head-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-inline: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.head-wrapper h1 {
  position: absolute;
  display: flex;
  bottom: 15%;
  width: 100%;
  justify-content: center;
}

.head-box {
  scroll-snap-align: center;
  display: flex;
  min-width: 100%;
}

.head-background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.toggle-fullscreen {
  position: fixed;
  left: 4em;
  right: 4em;
  top: 0;
  bottom: 0;
  width: calc(100vw - 8em);
  height: 100%;
  z-index: 1000000;
  background-color: rgba(5, 5, 10, 0.75);
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 50%;
  width: 100%;
  justify-content: center;
  transform: translate(-50%, -125%);
}

.header-menu {
  display: flex;
  flex-flow: row;
  gap: 1em;
  justify-content: center;
}

.header-menu button {
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
}

.header-fullscreen {
  order: 2;
}

.header-slide-left {
  order: 1;
}

.header-slide-right {
  order: 3;
}

.block-container {
  padding: 2em 2em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  position: relative;
  margin-inline: 2em;
  width: calc(100% - 8em);
}
.block-2 {
  display: flex;
  gap: 2em;
  flex-flow: row;
  width: 100%;
  justify-content: center;
}
.block-1 {
  display: flex;
  width: 100%;
}
.block-content {
  flex-grow: 1;
}
.block-content img {
  width: 100%;
}
.github-profile {
  display: flex;
  flex-flow: column;
  min-width: 25%;
}
.github-pfp {
  border-radius: 50%;
}

.github-repositories {
  display: flex;
  gap: 1.5em;
  flex-grow: 3;
  width: 100%;
  flex-flow: column;
}
.github-repo {
  flex: 1 1 0px;
  padding: 1em 1em;
  border: 1px rgba(70, 210, 110, 0.33) solid;
  border-radius: 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.github-pfp-name {
  display: flex;
  flex-flow: column;
}

.showcase-cookieclicker-btn:hover {
  cursor: pointer;
}

/* phone */
@media (max-width: 767px) {
  body {
    font-size: 14px;
    gap: 1em;
  }
  .toggle-fullscreen {
    left: 0em;
    right: 0em;
    width: 100vw;
  }
  .block-container {
    margin-inline: 0.75em;
    width: calc(100% - 5.5em);
  }
  .block-2 {
    flex-flow: column;
  }
  .github-profile {
    gap: 2em;
  }
  .github-pfp-name {
    flex-flow: row;
    gap: 1em;
    justify-content: center;
  }
  .github-pfp {
    max-width: 33%;
  }
  .github-pfp-name h3 {
    align-content: center;
  }
}

/* Tablet */
@media (min-width: 768px) {
  body {
    font-size: 15px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  body {
    font-size: 17px;
  }
  .toggle-fullscreen {
    left: 4em;
    right: 4em;
    width: calc(100vw - 8em);
  }
}

/* Desktop */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
