<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <h1>Impressum</h1>

<p>Michael Fix<br />
Schlehenweg, 16<br />
38226 Salzgitter</p>

<h2>Kontakt</h2>
<p>Telefon: 01781788946<br />
E-Mail: michaelfix@outlook.de</p>

<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</body>
</html>