<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limettensaft</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header-container" id="header-container">
      {% for header in headers %}
      <img class="head-background" src="/static/img/{{ header }}.jpg" alt="" />
      <div class="header">
        <h1>{{ header[header] }}</h1>
        <div class="header-menu">
          <button
            class="header-slide-left"
            onclick="slide('header-container', 'left')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-left"></i>
          </button>
          <button
            class="header-fullscreen"
            onclick="toggleFullscreen('header-container')"
          >
            <i style="font-size: 3em" class="bx bx-fullscreen"></i>
          </button>
          <button
            class="header-slide-right"
            onclick="slide('header-container', 'right')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-right"></i>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
    {% include "header.html" %}
    <div class="homepage"></div>
    {% include "footer.html" %}
    <script src="/static/script.js"></script>
  </body>
</html>
