<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limettensaft</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header-container" id="header-container">
      <div class="head-wrapper" id="header-wrapper">
        {% for header in headers %}
        <div class="head-box">
          <div class="head-background">
            <img
              class="head-background"
              src="/static/img/headers/{{ header['image'] }}"
              alt=""
            />
            <h1>{{ header['title'] }}</h1>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="header">
        <div class="header-menu">
          <button
            class="header-slide-left"
            onclick="slide('header-wrapper', 'left')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-left"></i>
          </button>
          <button
            class="header-fullscreen"
            onclick="toggleFullscreen('header-container','header-fullscreen')"
          >
            <i
              id="header-fullscreen"
              style="font-size: 3em"
              class="bx bx-fullscreen"
            ></i>
          </button>
          <button
            class="header-slide-right"
            onclick="slide('header-wrapper', 'right')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="block-container" id="about_me">
      <div class="block-2">
        <div class="block-content">
          <h1>Wer bin ich?</h1>
          <p>Hallo, ich bin die Limette!</p>
          Ich bin geboren 2005 und komme aus Niedersachsen. <br />
          Seit 2021 programmiere ich viele Kleinigkeiten in Python und seit 2025
          wage ich mich an die Webentwicklung. <br />
          Das Coden macht mir sehr viel Spaß, sowie das Zocken. <br />
          Am liebsten spiele ich League Of Legends (Ich bin Briar-Top Main ;D).
          <br />
          Angefangen hat meine Begeisterung für Technik beim Minecraft spielen
          und dem Erstellen eigener Server auf gemieteten Linux Servern. <br />
          Nach meiner Kaufmännischen Ausbildung suche ich nach einer Möglichkeit
          Informatiker zu werden.
        </div>
        <div class="block-content">
          <img src="/static/img/limedev-chibi-transparent.png" alt="" />
        </div>
      </div>
    </div>
    <div class="block-container">
      <h1>Mein <a href="https://github.com">GitHub</a> Profil</h1>
      <div class="block-2">
        <div class="block-content github-profile">
          <div class="github-pfp-name">
            <img class="github-pfp" src="/static/img/github-pfp.png" alt="" />
            <h3>
              <a
                style="color: rgb(70, 210, 110)"
                href="https://github.com/Limette05"
                >Limette05</a
              >
              - he/him
            </h3>
          </div>
          <br />just putting my stuff here :) pfp by reddit u/hirep14316
          <p><i class="bx bx-location"></i>Germany</p>
        </div>
        <div class="block-content github-repositories">
          <div class="github-repo">
            <h3>
              <a
                style="color: rgb(70, 210, 110)"
                href="https://github.com/Limette05/my-website"
                >my-website</a
              >
            </h3>
            <p>my second website, for myself</p>
            <p><i style="color: #e34c26" class="bx bxs-circle"></i> HTML</p>
          </div>
          <div class="github-repo">
            <h3>
              <a
                style="color: rgb(70, 210, 110)"
                href="https://github.com/Limette05/internet-seite"
                >internet-seite</a
              >
            </h3>
            <p><i style="color: #e34c26" class="bx bxs-circle"></i> HTML</p>
          </div>
        </div>
        <div class="block-content github-repositories">
          <div class="github-repo">
            <h3>
              <a
                style="color: rgb(70, 210, 110)"
                href="https://github.com/Limette05/Discord-Musikbot "
                >Discord-Musikbot</a
              >
            </h3>
            <p>private discord musicbot for youtube</p>
            <p><i style="color: #3572a5" class="bx bxs-circle"></i> HTML</p>
          </div>
          <div class="github-repo">
            <h3>
              <a
                style="color: rgb(70, 210, 110)"
                href="https://github.com/Limette05/LimeInterFace"
                >LimeInterFace</a
              >
            </h3>
            <p>my first test to make a gui in Python (old)</p>
            <p><i style="color: #3572a5" class="bx bxs-circle"></i> HTML</p>
          </div>
        </div>
      </div>
    </div>
    {% include "header.html" %} {% include "footer.html" %}
    <script src="/static/script.js"></script>
  </body>
</html>
