<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limettensaft</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="header-container" id="header-container">
      <div class="head-wrapper" id="header-wrapper">
        {% for header in headers %}
        <div class="head-box">
          <div class="head-background">
            <img class="head-background" src="/static/img/headers/{{ header['image'] }}" alt="" />
            <h1>{{ header['title'] }}</h1>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="header">
        <div class="header-menu">
          <button
            class="header-slide-left"
            onclick="slide('header-wrapper', 'left')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-left"></i>
          </button>
          <button
            class="header-fullscreen"
            onclick="toggleFullscreen('header-container','header-fullscreen')"
          >
            <i id="header-fullscreen" style="font-size: 3em" class="bx bx-fullscreen"></i>
          </button>
          <button
            class="header-slide-right"
            onclick="slide('header-wrapper', 'right')"
          >
            <i style="font-size: 3em" class="bx bx-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    {% include "header.html" %}
    <div class="homepage"></div>
    {% include "footer.html" %}
    <script src="/static/script.js"></script>
  </body>
</html>
